body {
    background-color: #d5ffb9;
}
button {
    position:absolute; z-index:1; 
    margin-top: 10px;
    margin-left: 10px;
}
footer {
    position: relative;
}
#sectionOne{
    text-align: center;
    background-color: #cdaeff;
    
}
#spinner {
    margin-top: 4rem;
}
#navbar {
    position:static;
    justify-content: center;
}
#card-id {
    position: absolute; right: 20px;
    justify-content: right;
    font-size: small;
}

.container {
    border-radius: 15px;
    margin-top: 2rem;
    display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 40px;

    background-color: #d8f0ff;
}
.card   {
    background-color: antiquewhite;
}

hr {
    width: auto;
}